.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    min-height: 100vh;
}

.inputContainer {
    display: flex;
    flex: 1;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.inputContainer input {
    margin: 10px;
}